body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
	font-family: 'Fira Sans', sans-serif;
}


nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.yellow-btn {
	color: #004415;
	font-size: 15px;
	background-color: #F9E701;
	padding: 2%;
	border: solid 2px #e2d739;
	cursor: pointer;
}

.discover-div{
	display: grid;
	grid-template-columns: max-content minmax(15em, 1fr);
}